<!DOCTYPE html>
<html
        lang="es"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout_main.html}" >
<head>
    <th:block th:fragment="cabera">
        <title>Reporte de Usuarios - FitX</title>
    </th:block>
</head>

<body>
    <main layout:fragment="content">
        <div class="container my-5">
            <h2 class="mb-5">Reporte de Suscripciones (<span th:text="${reportes.size()}">0</span>)</h2>

            <!-- Filtros -->
            <form class="row g-2 mb-5" action="/web/reporte/suscripciones" method="post">
                <div class="col-md-4">
                    <select class="form-select" id="usuario" name="usuario" >
                        <option value="-1">Todos</option>
                        <option
                                th:each="u : ${usuarios}"
                                th:value="${u.id}"
                                th:text="${u.nombres + ' ' + u.apellidos}"
                                th:selected="${u.id == usuarioSeleccionado}"
                        >Usuarios</option>
                    </select>
                    <p class="text-muted ps-3">Usuario</p>
                </div>
                <div class="col-md-2">
                    <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" th:value="${fechaInicioSeleccionado}">
                    <p class="text-muted ps-3">Fecha inicio</p>
                </div>
                <div class="col-md-2">
                    <input type="date" class="form-control" id="fechaFin" name="fechaFin" th:value="${fechaFinSeleccionado}">
                    <p class="text-muted ps-3">Fecha fin</p>
                </div>
                <div class="col-md-2">
                    <select class="form-select" id="suscripcion" name="suscripcion" >
                        <option value="-1">Todos</option>
                        <option value="Activo" th:selected="${suscripcionSeleccionado == 'Activo'}" >Activo</option>
                        <option value="Inactivo" th:selected="${suscripcionSeleccionado == 'Inactivo'}">Inactivo</option>
                    </select>
                    <p class="text-muted ps-3">Suscripción</p>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-secondary w-100">🔍 Filtrar</button>
                </div>
            </form>


            <!-- Tabla -->
            <div class="table-responsive">
                <table class="table table-striped align-middle mt-4 table-hover">
                    <thead class="table-light">
                    <tr>
                        <th class="text-center">DNI</th>
                        <th>Nombre</th>
                        <th class="text-center">Fecha Inicial</th>
                        <th class="text-center">Fecha Final</th>
                        <th class="text-center">Precio S/</th>
                        <th class="text-center">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reporte : ${reportes}" >
                        <td class="text-center" th:text="${reporte.dni}">01234567</td>
                        <td th:text="${reporte.nombre}">Diego Ramos</td>
                        <td class="text-center" th:text="${reporte.fechaInicio}">2023-09-01</td>
                        <td class="text-center" th:text="${reporte.getFechaFin()}">2024-03-01</td>
                        <td class="text-center" th:text="${reporte.precio}">115</td>
                        <td class="text-center" th:text="${reporte.estado}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>

        <!-- Footer -->
        <footer class="mt-5">
            <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">Desarrollado por FitX © 2025. Todos los derechos reservados.</p>
                <a href="#" class="text-decoration-none">Política de privacidad</a>
            </div>
        </footer>
    </main>

    <th:block th:fragment="modales">
    </th:block>

    <th:block th:fragment="scripts">
    </th:block>

</body>

</html>